* {
    box-sizing: border-box;
  }

body {
    margin:0;
    background-color: #18191A;
    font-family: 'Montserrat', serif;
    color: rgb(255, 255, 255);
    font-size: 14px;

}

.box-area div{
    position: absolute;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom:  -20px;
    z-index: 100;
}

.box-area div:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area div:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area div:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area div:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area div:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area div:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 10s;
}

/* aaaaaaaaaaaaaaaaaaaaaa */

.box-area2 div{
    position: absolute;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom:  -400px;
    z-index: 100;
}

.box-area2 div:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area2 div:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.box-area2 div:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}

.box-area2 div:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area2 div:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area2 div:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 10s;
}

 @keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.row .centercolumn .card hr{
    border-color: #18191A;
    border-width: thin;
    /* margin-bottom: 30px; */
}
.content1 .raid1 hr{
    width: 160px;
    border-color: rgb(255, 255, 255); 
    float: left;
    z-index: 9;
}

.text{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.text1{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(0, 0, 0);
    font-size: 15px;
}

::selection{
    color: black;
    background-color: rgb(176, 233, 178);
}

.bottonav{
    margin: 0;
    padding: 0;
    bottom: 0;
    padding-top: 3px;
    padding-bottom: 1px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #242526;
    border: thin solid #393A3B;
    user-select: none;
    z-index: 100000;
}

#hover4{
    border-radius: 3px;
    color: black;
    background-color: #c8c8c8;
    padding: 4px;
    visibility: hidden;
    position: absolute;
}



#hover, #hover1, #hover2, #hover3{
    border-radius: 3px;
    color: black;
    background-color: #c8c8c8;
    padding: 4px;
    visibility: hidden;
    position: absolute;
    margin-left: 250px;
}

#haper:hover #hover, #haper1:hover #hover1, #haper2:hover #hover2, #haper3:hover #hover3, #haper4:hover{
    visibility: visible;
}

.centralizar{
    position: relative;
    float: none;
    top: 50%;
    left: 42%;
    transform: none;
}

.bottonav a{
    margin: 10px;
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    user-select: none;

}

.bottonav a:hover {
    margin: 10px;
    border-radius: 5px;
    background-color: #3a3b3c;
    color: rgb(131, 204, 133);
    user-select: none;
}

.bottonav a.active:hover {
    border-radius: 5px;
    background-color: #3a3b3c;
    color: rgb(131, 204, 133);
    user-select: none;
}

.bottonav .search-container {
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    user-select: none;
}

.bottonav input#myInput{
    width: 350px;
}

.bottonav input[type=text] {
    padding-top: 10px;
    padding: 10px;
    margin-top: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: #3a3b3c;
    color: white;
    user-select: none;
}

.centercolumn1{
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .centercolumn .card .space1 p{
    display: block
}

.centercolumn{
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    
}

.centercolumn1{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
    
}

div.container4 {
    user-select: none;
}

.card {
    background-color: #242526;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    user-select: none;
}

.card1{
    background-color: #242526;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    user-select: none;
}

.imageaans1, .imageaans2, .imageaans3{
    height: 700px;
}

.row .centercolumn1 .card .imagens1 .adaw .imgs1, .imgs2{
    float: left;
}

.space1 {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
}

.imagens1 img, .imagens2 img, .imagens3 img{
    transition: 1s;
}

.imagens1 img:hover, .imagens2 img:hover, .imagens3 img:hover{
    filter: grayscale(100%);
    transform: scale(1.0);
    z-index: 10;
}

#chat{
    margin-bottom: 10px;
}

.chat{
    margin: 30px;
}

::-webkit-input-placeholder{
    color: #707070;
}

.nick{
    width: 100%;
    height: 40px;

    background-color: #323233;
    color: #c8c8c8;
    
    border-radius: 5px;
    border: thin solid #393A3B;
}

.fa-angle-left{
    padding-top: 10px;
    color: black;
}

.btnVoltar a{
    text-decoration: none;
}

.btnVoltar:hover{
    background-color: rgb(117, 167, 120);
}

.btnVoltar{
    position: fixed;

    background-color: rgb(131, 204, 133);

    border-radius: 5px;
    border: thin solid #000000;

    float: right;

    margin-left: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    z-index: 1000000;
}

.btnConectar:hover{
    background-color: rgb(117, 167, 120);
    cursor: pointer;
}

.btnConectar{

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    left: 50%;

    background-color: rgb(131, 204, 133);
    color: black;

    border: thin solid #393A3B;
    border-radius: 5px;
}

.msg{
    width: 100%;
    height: 35px;

    background-color: #323233;
    color: #c8c8c8;

    border-radius: 5px;
    border: thin solid #393A3B;
}

.btnEnviar:hover{
    cursor: pointer;
}

.btnEnviar{
    width: 70px;
    height: 40px;

    background-color: rgb(80, 102, 81); 
    color: black;

    border-radius: 5px;
    border: thin solid #393A3B;
    
    margin-top: 10px;
} 

.imgs {
    width: 100%;
    height: 100%;

    object-fit: cover;

    user-select: none;
}

.imgs1 {
    width: 50%;
    height: 50%;
    object-fit: cover;
    user-select: none;
}

.imgs2 {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.head-perfil{
    display: flex;
    justify-content: left;

    
    padding-top: 3px;
    padding-left: 3px;
    border-radius: 10px;
}

span{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
}

.imgper{
    padding-top: 4px;
    padding-left: 4px;
    width: 45px;
    border-radius: 50%;
    pointer-events: none;
}

.middlecolumn{
    float: left;
    width: 50%;
    margin: auto;
    margin-bottom: 105px;
}

.rightcolumn{
    float: left;
    width: 25%;
    margin: auto;
    margin-bottom: 70px;
    
}

.leftcolumn{
    float: left;
    width: 25%;
    margin: auto;
    margin-bottom: 70px;
    
}

.content1{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 115px;
    background-color: #242526;
    border-radius: 10px;
    z-index: 11;
}

.input:hover, .input.la:hover, .nick:hover, .btnConectar:hover, .msg:hover, .btnEnviar:hover{
    animation: bounce .4s;
}

@keyframes bounce{
    10%, 40%, 70%{
        transform: translateX(-10px);
    }
    25%, 55%, 85%{
        transform: translateX(10px);
    }
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    -moz-user-select: none;
    user-select: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: #18191A;
    color: rgb(131, 204, 133);
    user-select: none;
}

.input.la{
    height: 100px;
}

.input.le{
    border-radius: 5px;
    width: 70px;
    background-color: rgb(131, 204, 133);
    color: rgb(0, 0, 0);
}

.input.le:hover{
    cursor: pointer;
    background: rgb(80, 102, 81);
    color: rgb(0, 0, 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.btn a{
    text-decoration: none;
}

.btn{
    margin: 30px;
    width: 220px;
    height: 50px;

    margin-right: 20px;
    
    background-color: rgb(131, 204, 133);
    color: black;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-items: center;

    user-select: none;
    transition: .25s;

    position: relative;

    z-index: 0;
}

.btn .fa-shopping-cart{
    font-size: 17px;

    position: absolute;
    top: 48.5%;
    left: 13%;
    transform: translate(-50%, -50%);
    
    transition: .25s;
    z-index: 0;
}

.btn span{
    font-size: 14px;
    margin-bottom: 10px;

    margin-left: 45px;

    transition: .25s;
    clip-path: circle(200px at 125px 27.5px);
}

.btn:hover{
    cursor: pointer;
    opacity: .8;
}

.btn:hover .fa-shopping-cart{
    left: 50%;
}

.btn:hover span{
    clip-path: circle(0px at 125px 27.5px);
}

.raid{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.raid1{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    user-select: none;
    z-index: 9;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.content1 .raid1 .w3-section p{
    color: rgb(131, 204, 133);
}

.content1 .raid1 h2{
    color: rgb(255, 255, 255);
}

.content1 .raid1 p{
    color: rgb(255, 255, 255);
}

.open_div{
    cursor: pointer;
}

#adaw{
    display: none;
}


.button{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    background: #242526;
    color: rgb(255, 255, 255);
}

.button:hover{
    background: #323233;
    color: rgb(131, 204, 133);
}


@media screen and (max-width: 800px) {

    .middlecolumn{
        width: 92%;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    .rightcolumn, .leftcolumn {
        width: 92%;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width: 800px) {
    .card1{
        background-color: #242526;
        margin-top: 20px;
        border-radius: 10px;
        user-select: none;
    }

    .card, .card1 {   
        width: 100%;
        padding: 0;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .btnVoltar{
        visibility: hidden;
    }


    .bottonav input#myInput{
        width: 480px;
    }
    
    #adaw{
        display: block;
        position: fixed;
        text-decoration: none;
        z-index: 1000;
    }

    textarea:focus, input:focus, select:focus, button:focus {
        outline: 0;
    }

    .hidden{
        display: none;
    }

    .centralizar{
        position: relative;
        float: none;
        top: 0%;
        left: 0%;
        transform: none;
    }
    
    .bottonav .search-container {
        text-align: center;
        float: none;
    }

    

    .bottonav a{
        margin: 10px;
        float: left;
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 17px;
        user-select: none;
    
    }
    
    .bottonav a:hover {
        margin: 10px;
        border-radius: 5px;
        background-color: #3a3b3c;
        color: rgb(131, 204, 133);
        user-select: none;
    }

    .bottonav input[type=text]{
        float: none;
        display: block;
        text-align: left;
        border-radius: 5px;
        width: 100%;
        margin: 0;
        padding: 14px;
    }   
    .bottonav input[type=text] {
        text-align: center;
        border: 1px solid #ccc;  
    }
}

@media screen and (max-width: 800px) {
    .centercolumn {   
        width: 80%;
        padding: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .bottonav a {
        text-align: center;
        float: none;
        width: 100%;
    }
}